background yes
out_to_console yes
out_to_x no
update_interval 1
 
color1 FCE94F
colorButter1 FCE94F
colorButter2 EDD400
colorButter3 C4A000
colorAluminiumLight1 EEEEEC
colorAluminiumLight2 D3D7CF
colorAluminiumLight3 BABDB6
 
 
TEXT
^fg(\#FCE94F) [ Kernel:^fg(\#888A85)$sysname $kernel ${color} ^fg(\#FCE94F)Load:${color}^fg(\#888A85)$loadavg^fg(\#FCE94F) MEM:^fg(\#888A85)$mem / $memmax $memperc^fg(\#FCE94F) ] \
^fg(\#EEEEEC)^ca(1,/home/dnardo/bin/statusbar/calendar.sh)^fg(\#FCAF3E) ${time %d.%m.%Y} ${time %T}^ca()
